<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1>It's a <%= listTitle %></h1>
    </div>

    <div class="box">
        <% for( let index = 0; index <newListItems.length; index++ ) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= newListItems[index] %></p>
            </div>
        <% } %>

        <form method="post" action="/" class="item">
            <input type="text" name="newItem" placeholder="New Task" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle%>>+</button>
        </form>
    </div>
    

    
</body>
</html>